#root {
  width: 100vw;
  height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 80vh;
  background-color: green;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  border-style: solid;
  border-color: grey;
}

.screen {
  display: flex;
  font-size: 80px;
  flex-direction: row-reverse;
  background-color: #858693;
  width: 100%;
  height: 20%;
}

.options {
  display: grid;
  background-color: grey;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
}

.option {
  display: flex;
  align-items: center;
  align-content: center;
  background-color: #efefef;
}

.orange {
  background-color: #ec903c;
}

span {
  margin-left: auto;
  margin-right: auto;
}

.zero {
  grid-column: span 2;
}
